* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, arial;
  font-weight: bold;
}

:root {
  --bg-color-formulario: #6c63ff;
  --font-input: 20px;
  --color-font: #fff;
  --font-response: 14px;
}

.container {
  display: flex;
  max-width: 95vw;
  justify-content: space-between;
}
/* .left {
  max-width: 30%;
} */
.left img {
  max-width: 550px;
  margin: 50px auto;
}

.right {
  max-width: 500px;
  margin-top: 50px;
  padding: 20px;
  height: auto;
  background-color: var(--bg-color-formulario);
  text-align: center;
  /* margin-left: 20px; */
  border-radius: 30px;
}

.right label {
  display: block;
  padding: 20px;
  font-size: var(--font-input);
}

.right input {
  outline: none;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  font-size: var(--font-input);
}

#enviar:hover,
#resetar:hover {
  transition: all 500ms linear;
  background-color: blueviolet;
  color: var(--color-font);
}

footer {
  margin-top: 50px;
  height: 50px;
  text-align: center;
  line-height: 25px;
}
p .footer {
  margin: 20px;
  width: 100%;
  height: 50px;
}

@media (max-width: 1350px) {
  .left img {
    width: 600px;
  }
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .left img {
    width: 800px;
  }
  .right {
    order: -1;
    margin: 50px auto 10px auto;
  }
}
@media (max-width: 900px) {
  .left img {
    width: 550px;
  }
  .right {
    max-width: 400px;
  }
  .right h1 {
    font-size: var(--font-input);
  }
  .right input,
  .richr label {
    font-size: var(--font-response);
  }
}
@media (max-width: 550px) {
  .left img {
    width: 390px;
  }
}

@media (max-width: 400px) {
  .left img {
    width: 290px;
  }
  .right {
    width: 290px;
  }
  .footer {
    width: auto;
    margin: 10px;
    font-size: var(--font-response);
  }
}
